.mission-vision-section {
    padding: 2.5rem 10px;
    background: #fff;
}

.section-title h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
}

.mission-vision-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.mission-vision-content h2 {
    text-align: start;
    margin-left: 20px;
    font-size: 2rem;
    color: #333;
}

.mission {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.mission-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.vision {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.vision-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mission p,
.vision p {
    font-size: 1.1em;
    color: #555;
}

.mission-image img,
.vision-image img {
    border-radius: 8px;
}



@media (max-width: 768px) {
    .mission {
        flex-direction: column;
    }

    .vision {
        flex-direction: column-reverse;

    }
}