.mission-vision-section {
    padding: 2.5rem 10px;
    background: #fff;
}
 
.section-title h1 {
    text-align: center;
    font-size: 2.5em;
    color: #333;
}

.mission-vision-content {
    display: grid;
    grid-template-columns: 50% 50%;
}
 
.mission-vision-content h2 {
    text-align: start;
    margin-left: 20px;
    font-size: 2rem;
    color: #333;
}

.mission {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.mission-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.vision {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 50px;
}

.vision-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mission p,
.vision p {
    margin-top: -0.5rem;
    font-size: 0.9em;
    color: #555;
}

.mission-image img,
.vision-image img {
    border-radius: 8px;
    width: 150px;
}



@media (max-width: 768px) {


    .mission {
        flex-direction: column;
        padding: 0;
    }
 
    .vision {
        flex-direction: column-reverse;

    }

    .mission-vision-content {
        display: block;
    }
    .mission{
        border-bottom: 2px solid #04274c5e;
    }
    .vision{
        padding: 0;
        padding-top: 30px;
    }
    .mission-text{
        text-align: center;
    }
    .vision-text{
        text-align: center;
    }
    
}