.business-portfolio-section {
    padding: 10px 0;
    background: #fff;
}

.section-title {
    text-align: center;
}

.section-title h1 {
    font-size: 2.5em;
    color: #333;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.portfolio-item {
    flex: 1;
    max-width: 290px;
    background: #eaeaea;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid grey;
    text-align: justify;
}

.portfolio-item h4 {
    font-size: 0.8rem;
    font-weight: 500;
}

.portfolio-item ul {
    text-align: left;
    margin-top: 20px;
}

.portfolio-item ul li {
    list-style: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: #007BFF;
}

.portfolio-item ul ul {
    margin-left: 20px;
}

.portfolio-item ul ul li {
    margin-bottom: 5px;
    font-size: 0.8rem;
    list-style-type: disc;
}

/* .swiper-button-next,
.swiper-button-prev {
  display: none;
} */



@media (max-width: 768px) {
    .portfolio-content {
        flex-direction: column;
    }
}
