.slide-content {
    position: relative;
}

.slide-image {
    width: 100%;
    /* min-height: 400; */
    min-height: 400px;
}
 
.slide-overlay {
    width: 40%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: black;
    background-color: #fffefe8f;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.c_box{
    padding: 30px;
}
.c_box h2{
    font-size: 30px;
    padding-bottom: 10px;
}
.c_box p{
    font-size: 20px;
    padding-bottom: 10px;
}

.blur_bg_layer{
    filter: blur(5px);
}

 

.slide-overlay p {
    font-size: 1rem;
}

.slide-button {
    margin-top: 10px;
    padding: 15px;
    background-color: #04274c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-size: 15px;
}

.slide-button:hover {
    background-color: #0056b3;
}

.swiper-scrollbar {
    display: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff; /* Change this to your desired color */
}

.swiper-button-next:after{
  color: #04274c;
}
.swiper-button-prev:after{
    color: #04274c;
}
@media (max-width: 768px) {
 
    .hide_small{
        display: none;
    }

    .slide-overlay {
        width: 70%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: #00000067;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .c_box h2{
  font-size: 20px;
    }
    .c_box p{
        font-size: 13px;
          }
          .slide-button{
            font-size: 12px;
          }
  
    
}